.scroll-indicator{

position:absolute;

left:50%;
bottom:40px;

transform:translateX(-50%);

display:flex;
flex-direction:column;
align-items:center;

gap:12px;

z-index:500;

transition:.5s;

pointer-events:none;

}

.scroll-indicator span{

font-size:.8rem;

letter-spacing:4px;

text-transform:uppercase;

color:rgba(255,255,255,.8);

}

/* Mouse */

.scroll-indicator__mouse{

width:28px;
height:46px;

border:2px solid rgba(255,255,255,.7);

border-radius:20px;

display:flex;
justify-content:center;

padding-top:7px;

}

.scroll-indicator__wheel{

width:4px;
height:8px;

background:#18ff8c;

border-radius:20px;

animation:wheelMove 1.8s infinite;

}

/* Arrow */

.scroll-indicator__arrow{

color:#18ff8c;

animation:arrowBounce 1.8s infinite;

}

/* Hide */

.scroll-indicator--hidden{

opacity:0;

transform:translate(-50%,30px);

}

/* Wheel */

@keyframes wheelMove{

0%{

transform:translateY(0);

opacity:1;

}

100%{

transform:translateY(15px);

opacity:0;

}

}

/* Arrow */

@keyframes arrowBounce{

0%{

transform:translateY(0);

opacity:0;

}

50%{

opacity:1;

}

100%{

transform:translateY(12px);

opacity:0;

}

}